* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background:  linear-gradient(135deg,   #0000ff, #ee82ee);
    padding: 10px;
}

.todo-app {
    width: 100%;
    margin: 100px auto 20px;
    max-width: 540px;
    background: #fff;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    text-align: center;
    color: #002765;
    margin-bottom: 20px;

}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 30px;
    background: #edeef0;
}

input {
    flex:1 ;
    border: none;
    background: transparent;
    padding: 10px;
    outline: none;
    user-select: none;
}

button {
    border: none;
    padding: 16px 50px;
    border-radius: 40px;
    cursor: pointer;
    background: blue;
    color: #fff;
    font-size: 16px;
}

ul li {
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position : absolute;
    background-image:url(img/uncheck.png);
    background-size: cover;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    top: 12px;
    left: 8px;
}

ul li.done{
    color: #555;
    text-decoration: line-through;

}

ul li.done::before{
    background-image: url(img/like-or-correct-symbol-confirmed-or-approved-button-check-mark-icon-3d-illustration-free-png.webp);
}

ul li span {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 22px;
    width: 40px;
    height: 40px;
    color: #555;
    text-align: center;
    border-radius:50%;
    line-height: 40px;

}

ul li span:hover {
    background: blue;
}

 @media screen and (max-width:480px) {
   button {
    padding: 8px 15px;
   } 
} 




